# ----------------------------
# Virtual environments
# ----------------------------
venv/
.venv/

# ----------------------------
# Python bytecode
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Distribution / packaging
# ----------------------------
build/
dist/
*.egg-info/
.eggs/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# MacOS
# ----------------------------
.DS_Store

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Other common files to ignore
# ----------------------------
*.sqlite3
.env
